@model IEnumerable<LMS.Models.GetCourse_Result>

@{
    string heading = "Course";
    ViewBag.Title = heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page_heading">
    <div class="pull-left">
        @heading
    </div>
</div>
<p>
    @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-success" })
</p>
@if (Model != null && Model.Any())
{
    <table class="panel panel-default dataTable table-hover no-footer table f11 table-striped table-yuk2 toggle-arrow-tiny tablet breakpoint footable-loaded">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Course Provider
                </th>
                <th>Course University</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-success btn-xs" data-toggle="modal" onclick="showModal('#discussionModalContainer', '#discussionModalBodyID','  @item.CourseId')"> @item.CourseName </a>
               </td>
                <td>
                    @item.CourseDescription
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td>
                    @item.CourseProvider
                </td>
                <td>
                    @item.CourseUniversity
                </td>
                <td>
                         <a class="btn btn-success btn-xs" data-toggle="modal" onclick="showModal('#editModalContainerID', '#editModalBodyID',' @item.CourseId')">Course Mapping</a>|                     
                        
                        @Html.ActionLink("Edit", "create", new { id = item.CourseId }, new { @class = "btn btn-success btn-xs" }) |
                        <a class="btn btn-danger btn-xs cls-delete-confirm" data-message="Confirm @item.CourseName Delete?" data-href="@Url.Content("~/Cours/delete?id=" + @item.CourseId)"> Delete</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert alert-danger">
        Record not found...
    </div>
}
<div id="editModalContainerID" class="modal fade" role="dialog" data-url='@Url.Action("CourseMapping", "Cours")'>
    <div id="editModalBodyID"></div>
</div>
<div id="discussionModalContainer" class="modal fade" style="margin-top:50px;" role="dialog" data-url='@Url.Action("CourseDicussion", "Cours")'>
    <div id="discussionModalBodyID">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>Moodle Discussions</h4>
                
                </div>
                <div class="panel-body" style="overflow-y:scroll" >
                    <ul id="discussbody"></ul>
                </div>
                <div class="modal-footer">
                    
                </div>
                

            </div>
      </div>
    </div>
</div>
            <script>
                function showModal(modalContainerId, modalBodyId, id) {
                    console.log(modalContainerId);
                    var url = $(modalContainerId).data('url');
                    console.log(id);
                    $.get(url, { Id: id }, function (data) {
                        console.log(data);
                        if (modalBodyId != '#discussionModalBodyID') {
                            $(modalBodyId).html(data);
                        }
                        else {
                            $('#discussbody').html('');
                            if (data.length == 0) {
                                return;
                            }
                            for (var i = 0;i< data.length; i++) {
                                $('#discussbody').append('<li><b>Discussion Topic' + data[i].Question + '</b></li>' );
                                $('#discussbody').append('<li> <ul> <li> Discussion Topic' + data[i].Answer + ' </li></ul></li>');

                            }

                        }
                        $(modalContainerId).modal('show');
                    });
                }
            </script>
<style>
    ul > li {
    margin-left: 10px;
}

</style>